rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /Admin%20Messages/{adminMessage} {
      allow read, write: if isAuthenticated();
    }
  
    match /Admins/{admins} {
      allow read : if true;
      allow write: if isAuthenticated();
    }

    match /Albums/{album} {
      allow read : if true;
      allow write: if true;
    }

 		match /Recordings/{recording} {
      allow read : if true;
      allow write: if true;
    }

    match /Authors/{authors} {
       allow read : if true;
      allow write: if true;
    }

    match /Pins/{pin} {
      allow read, write: if true;
    }
    
    match /Projects/{project} {
      allow read: if true;
      allow write: if true;
    }
    
    match /Users/{user} {
      allow read, write: if true;
    }
    
    match /AdminTags/{tag} {
      allow read, write: if isAuthenticated();
    }
    
    match /Tags/{tags}/tags/{tag} {
      allow read, write: if isAuthenticated();
    }
    
     match /Users {
      allow read, write: if true;
    }

    function isAuthenticated(){
      return request.auth != null;
    }
  }
}